
@model Models.Identity.LoginModel
@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="">
  <meta name="author" content="Luis Rogel">
  <meta name="keywords" content="">

  <link rel="shortcut icon" href="~/favicon.ico" />

  <title>Sign In - Here</title>

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

  <link class="js-stylesheet" href="~/css/dark.css" rel="stylesheet">
  <style>
    body {
      opacity: 0;
    }
  </style>

</head>
<!--
  HOW TO USE:
  data-theme: default (default), dark, light, colored
  data-layout: fluid (default), boxed
  data-sidebar-position: left (default), right
  data-sidebar-layout: default (default), compact
-->

<body data-theme="dark" data-layout="default" data-sidebar-position="left" data-sidebar-layout="default">
  <main class="d-flex w-100 h-100">
    <div class="container d-flex flex-column">
      <div class="row vh-100">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
          <div class="d-table-cell align-middle">

            <div class="text-center mt-4">
              <img src="~/img/logo/here-logo.png" width="120" height="120" />
              <h1 class="h2">Welcome back!</h1>
              <p class="lead">
                Sign in to your account to continue
              </p>
            </div>

            <div class="card">
              <div class="card-body">
                <div class="m-sm-4">
                  @*<div class="mb-3 text-center">
                    <img src="img/avatars/avatar.jpg" alt="Charles Hall" class="img-fluid rounded-circle" width="132" height="132" />
                  </div>*@
                  <div asp-validation-summary="All" class="text-danger"></div>
                  <form asp-controller="Account" asp-action="Login" method="post" asp-route-returnUrl="@ViewData["returnUrl"]">
                    <div class="mb-3">
                      <label class="form-label" asp-for="Email">Email</label>
                      <input class="form-control form-control-lg" asp-for="Email" placeholder="Enter your email" />
                      <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                      <label class="form-label" asp-for="Password">Password</label>
                      <input class="form-control form-control-lg" asp-for="Password" placeholder="Enter your password" />
                      <span asp-validation-for="Email" class="text-danger"></span>
                      <small>
                        <a asp-controller="Account" asp-action="ForgotPassword">Forgot password?</a>
                      </small>
                    </div>
                    <div>
                      <label class="form-check" asp-for="RememberMe">
                        <input class="form-check-input" asp-for="RememberMe">
                        <span class="form-check-label">
                          @Html.DisplayNameFor(m => m.RememberMe)
                        </span>
                      </label>
                    </div>
                    <div class="text-center mt-3">
                      <button type="submit" class="btn btn-lg btn-primary">Sign in</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="~/js/site.js"></script>
  <partial name="_JQueryScripts" />
  <partial name="_ValidationScriptsPartial" />

</body>

</html>
